#/*
**/__pycache__
.spyproject/
/src/evo_skeleton/annotator/fitted
/src/evo_skeleton/annotator/smplify/models
/data
/resources
/model
/examples/imgs
/examples/example_annot.npy
/examples/example_model.th
/examples/stats.npy
*.yml
*.log
*.ini
*.bak
*.pth
*.csv
*.pyc
.idea


